main h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

section {
  max-width: 1000px;
  margin: 0 auto 60px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.6);
  border: 1px solid #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

section h2 {
  font-size: 1.6rem;
  margin-bottom: 25px;
  color:#1815c2;
  border-left: 6px solid #1815c2;
  padding-left: 12px;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.campo strong {
  font-weight: 600;
  margin-bottom: 8px;
  color:#2b2b35 ;
}

.campo span,
.campo input,
.campo select,
.campo textarea {
  font-size: 1rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
}

.campo textarea {
  resize: vertical;
  min-height: 100px;
}

#generosfavsInput label {
  display: inline-block;
  margin: 8px 16px 8px 0;
  font-size: 0.95rem;
}

.editar {
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color:  #ff38b6;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.editar:hover {
  background-color: #e02a9e;
}

.editar i {
  margin-right: 6px;
}

/*Campo da senha*/
.senha-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.senha-wrapper input {
  flex: 1;
  padding-right: 40px; /* espaço para o botão */
}

.toggle-senha {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 1.1rem;
}

.toggle-senha:hover {
  color: #000;
}

.senha-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.senha-wrapper input {
  flex: 1;
  padding-right: 40px;
}

.toggle-senha {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 1.1rem;
}

.toggle-senha:hover {
  color: #000;
}

#alterarSenhaBtn {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 0.95rem;
  background-color: #1815c2;
  border: 1px solid #1815c2;
  border-radius: 6px;
  cursor: pointer;
  height: 40px;
  color: white;
  width: 150px;
  display: block;
  margin: 10px auto 0 auto;
}

.popup-senha {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-conteudo {
  background: rgba(255,56,182,0.8);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup-conteudo h3 {
  margin: 0;
  font-size: 1.2rem;
}

.popup-conteudo input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.popup-botoes {
  display: flex;
  justify-content: space-between;
}

.popup-botoes button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#confirmarPopup {
  background-color: #3840ff;
  color: white;
}
#confirmarPopup:hover{
  background-color: #5e64fffd;
}

#cancelarPopup {
  background-color: #ffffff;
}
#cancelarPopup:hover {
  background-color: #9c9b9b;
  color: #fff;
}

.erro-popup {
  color: #fff;
  font-size: 0.9rem;
  display: none;
}
