.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro semi-transparente */
  display: none; /* oculto por padrão */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  text-align: center;
  min-width: 300px;
}

.popup-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.popup-content a {
  text-decoration: none;
  color: white;
}

.popup-content button {
  background-color: #696969;
  color: white;
}

.popup-content button:hover {
  background-color: #000;
  color: white;
}

.popup-content .close-btn {
  background-color: #fe38b6;
}
.popup-content .close-btn:hover {
  background-color: #4e38ff;
}